<h2>Forgot your password?</h2>

<%= form_tag(reset_password_users_path(), :method=>'put') do  %>

  <div class="field">
    <%= email_field_tag 'email', :required=> true %>
  </div>

  <div class="actions">
    <%= submit_tag("Send me reset password instructions")  %>
  </div>
<% end %>
