<section class="container-fluid carousel-container">
  <div class="slideshow">
    <div id="slideshow" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive carousel-img-1" src="assets/carousel-img-1.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
        </div><!-- /. Item Active -->
        <div class="item">
          <img class="img-responsive carousel-img-2" src="assets/carousel-img-2.JPG" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
        </div><!-- /. Item -->
        <div class="item">
          <img class="img-responsive carousel-img-3" src="assets/carousel-img-3.JPG" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
        </div><!-- /. Item -->
      </div><!-- /. Carousel-Inner -->
      <div class="controlsBlock">
        <div class="controls">
          <div class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="0" class="active"></li>
            <li data-target="#slideshow" data-slide-to="1"></li>
            <li data-target="#slideshow" data-slide-to="2"></li>
          </div>
        </div>
      </div>
    </div><!-- /# Slideshow .Carousel -->
  </div><!-- /. Slideshow -->
</section><!-- /. Container -->