<section class="container-fluid food_news">
  <h2 class="text-center">Food News</h2>
  <div class="news_snippets">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-1">
      <h3>Eating Spicey Food Linked to Living Longer</h3>
      <div class="text-tiny text-light">Sky News</div>
      <article>eating spicy food has been linked to living a longer life. A study analysed the food...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-2">
      <h3>Congress is having a messy food fight over GMO labeling</h3>
      <div class="text-tiny text-light">The Verge</div>
      <article>Late last month, the House of Representatives delivered a blow to an...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-3">
      <h3>Want your food to be GMO-free? Labeling law will let you know</h3>
      <div class="text-tiny text-light">M.Live.com</div>
      <article>Legislation that has passed the U.S. House will create one nationwide,...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-4">
      <h3>Ready-to-drink meal could put food on chopping block</h3>
      <div class="text-tiny text-light">CBS News</div>
      <article>A company called Soylent has started selling what it calls complete meals, re...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-5">
      <h3>Supermarket Wars: Food Price Inflation Returns</h3>
      <div class="text-tiny text-light">Sky News</div>
      <article>Rises in the cost of bread and alcoholic drinks helped push overallfood prices...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-6">
      <h3>Food Column: Potlucks, global foods on tap</h3>
      <div class="text-tiny text-light">Pittsburgh Post-Gazette</div>
      <article>Farm to Table Pittsburgh presents food-themed activities for kids at Pittsburg...</article>
    </div>  
  </div>
</section>