<div class="modal-content forgot_password_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title hidden">Forgot your password?</h4>
  </div>
  <div class="modal-body">
    <div class="forgot_password_form_container col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div class="password_requested text-center"></div>
    <%= form_tag(reset_password_users_path(), :method=>'put', remote: true ,class: "forgot_password") do  %>

  
    <div class="form-group field">
      <label for="">Enter your registered email</label>
      <input type="email" class="form-control f-form-group" name = "email" id="" placeholder="Email" required=true>
    </div>


    <div class="form-group actions">
      <%= submit_tag("Send me reset password instructions", class:'forgot_password_button')  %>
    </div>
  </div>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <br>
    <div class="text-center"><button class="sign_up fp-sign_up">Sign up</button></div>
    <br>
    <div class="text-center"><button class="log_in fp-sign_in">Log in</button></div>
  </div>
  <div class="clearfix"></div>
</div>