<div class="modal fade" id="main_modal">
  <div class="modal-dialog">
    <%= render partial: "devise/sessions/sign_in_form"%>
    <%= render partial: "homes/forgot_password_modal"%>
    <%= render partial: "devise/registrations/sign_up_form"%>
  </div>
</div>
