<section class="container-fluid popular_articles">
  <h2 class="text-center popular_heading">Popular on MiChef</h2>
  <h6 class="text-center popular_sub_heading">See what others are searching for</h6>
  <div class="popular_small">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 popular-1">
      <img class="img-responsive" src="assets/popular-1.png">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 popular-2">
      <img class="img-responsive" src="assets/popular-2.png">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 popular-3">
      <img class="img-responsive" src="assets/popular-3.png">
    </div>  
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 popular_large">
    <img src="assets/popular-main.png">
  </div>
</section>