<section class="container-fluid upcoming_event">
  <div class="upcoming_event_box">
    <div class="upcoming_event_content">
      <div class="upcoming-1">
        <img src="assets/upcoming-1.png">
      </div>
      <div class="upcoming-2">
        <img src="assets/upcoming-2.png">
      </div>
      <div class="upcoming-3">
        <img src="assets/upcoming-3.png">
      </div>
      <div class="upcoming-4">
        <img src="assets/upcoming-4.png">
      </div>  
    </div>
  </div>
</section>