<header class="topbar">
  <div class="container-fluid">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-bootsnipp-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="assets/MiChef.png" class="" alt=""/>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <div class="collapse navbar-collapse navbar-bootsnipp-collapse">
          <ul class="nav navbar-nav text-uppercase">
            <li class="home"><a href="#">About</a></li>
            <li class="about"><a href="#">Recipes</a></li>
            <li class="career"><a href="#">Videos</a></li>
            <li class="contact"><a href="#">Contact Us</a></li>
            <%if user_signed_in? %>
              <li>
                <span class="welcome_user_name"><%= "Welcome, #{current_user.full_name}"%></span>
                <%= link_to "Log Out" , destroy_user_session_path , :method => :delete, :id => "user_logout_button" %>
              </li>
            <%else%>
              <li><button class="btn btn-primary text-uppercase" id="user_login_button">Log in</button></li> 
            <%end%>
          </ul>
        </div>
      </ul>
    </nav>
  </div>
</header>

<section class="container-fluid carousel-container">
  <div class="slideshow">
    <div id="slideshow" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive carousel-img-1" src="assets/carousel-img-1.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
        </div><!-- /. Item Active -->
        <div class="item">
          <img class="img-responsive carousel-img-2" src="assets/carousel-img-2.JPG" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
        </div><!-- /. Item -->
        <div class="item">
          <img class="img-responsive carousel-img-3" src="assets/carousel-img-3.JPG" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
        </div><!-- /. Item -->
      </div><!-- /. Carousel-Inner -->
      <div class="controlsBlock">
        <div class="controls">
          <div class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="0" class="active"></li>
            <li data-target="#slideshow" data-slide-to="1"></li>
            <li data-target="#slideshow" data-slide-to="2"></li>
          </div>
        </div>
      </div>
    </div><!-- /# Slideshow .Carousel -->
  </div><!-- /. Slideshow -->
</section><!-- /. Container -->
<div class="clearfix"></div>

<section class="container-fluid popular_articles">
  <h2 class="text-center popular_heading">Popular on MiChef</h2>
  <h6 class="text-center popular_sub_heading">See what others are searching for</h6>
  <div class="popular_small">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 popular-1">
      <img class="img-responsive" src="assets/popular-1.png">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 popular-2">
      <img class="img-responsive" src="assets/popular-2.png">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 popular-3">
      <img class="img-responsive" src="assets/popular-3.png">
    </div>  
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 popular_large">
    <img src="assets/popular-main.png">
  </div>
</section>

<section class="container-fluid upcoming_event">
  <div class="upcoming_event_box">
    <div class="upcoming_event_content">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 upcoming-1">
        <img src="assets/upcoming-1.png">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 upcoming-2">
        <img src="assets/upcoming-2.png">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 upcoming-3">
        <img src="assets/upcoming-3.png">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 upcoming-4">
        <img src="assets/upcoming-4.png">
      </div>  
    </div>
  </div>
</section>

<section class="container-fluid food_news">
  <h2 class="text-center">Food News</h2>
  <div class="news_snippets">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-1">
      <h3>Eating Spicey Food Linked to Living Longer</h3>
      <div class="text-tiny text-light">Sky News</div>
      <article>eating spicy food has been linked to living a longer life. A study analysed the food...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-2">
      <h3>Congress is having a messy food fight over GMO labeling</h3>
      <div class="text-tiny text-light">The Verge</div>
      <article>Late last month, the House of Representatives delivered a blow to an...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-3">
      <h3>Want your food to be GMO-free? Labeling law will let you know</h3>
      <div class="text-tiny text-light">M.Live.com</div>
      <article>Legislation that has passed the U.S. House will create one nationwide,...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-4">
      <h3>Ready-to-drink meal could put food on chopping block</h3>
      <div class="text-tiny text-light">CBS News</div>
      <article>A company called Soylent has started selling what it calls complete meals, re...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-5">
      <h3>Supermarket Wars: Food Price Inflation Returns</h3>
      <div class="text-tiny text-light">Sky News</div>
      <article>Rises in the cost of bread and alcoholic drinks helped push overallfood prices...</article>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 news_snippets-6">
      <h3>Food Column: Potlucks, global foods on tap</h3>
      <div class="text-tiny text-light">Pittsburgh Post-Gazette</div>
      <article>Farm to Table Pittsburgh presents food-themed activities for kids at Pittsburg...</article>
    </div>  
  </div>
</section>

<footer class="container-fluid footer">
  <div class="footer_text">Follow MiChef On</div>
  <div class="footer_links">
    <a href=""><img src="assets/pinterest.png" alt="pinterest"></a>
    <a href=""><img src="assets/twitter.png" alt="twitter"></a>
    <a href=""><img src="assets/facebook.png" alt="facebook"></a>
    <a href=""><img src="assets/googleplus.png" alt="googleplus"></a>
    <a href=""><img src="assets/youtube.png" alt="youtube"></a>
  </div>
</footer>

<%= render partial: "homes/main_modal"%>



<script type="text/javascript">
</script>