<footer class="container-fluid footer">
  <div class="footer_text">Follow MiChef On</div>
  <div class="footer_links">
    <a href=""><img src="assets/pinterest.png" alt="pinterest"></a>
    <a href=""><img src="assets/twitter.png" alt="twitter"></a>
    <a href=""><img src="assets/facebook.png" alt="facebook"></a>
    <a href=""><img src="assets/googleplus.png" alt="googleplus"></a>
    <a href=""><img src= <%=assets_path("youtube.png")%> alt="youtube"></a>
  </div>
</footer>